<!DOCTYPE html>
<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/userFactory.js"></script>
    <script src="js/controllers/userController.js"></script>
    <script src="js/factories/recommendationFactory.js"></script>
    <script src="js/controllers/recommendationController.js"></script>
  <link rel="stylesheet" href="styles/main.css">
  <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
  <style>
    .header{

    }
  </style>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
	  <!--Nav Bar-->
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="client.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="request-trip.html">Request Trip Assistance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Logout</a>
            </li>
          </ul>
        </nav>
        <img id="logo" src="images/Logo.jpg"/>
      </div>
      <!--End Nav Bar-->

    <!--Start of recommendations table-->
    <section class="mb-4">
      <div class="col-sm-9" ng-controller="RecommendationsController">
        <div>
          <table class="table table-striped table-hover">
              <h2> Recommendations </h2>
              <thead>
                      <th>Title</th>
                      <th>Description</th>
                      <th>Estimated Price</th>
                      <th>Link</th>
                      <th>Delete</th>
              </thead>
              <div ng-repeat="recommendation in recommendations track by $email" ng-nit="getAll()">
              <tbody >
                  <tr> <!-- ng-click="showDetails($index)" > -->
                      <td>{{recommendation.user}}</td>
                      <td>{{recommendation.recommend}}</td>
                      <td>{{recommendation.info}}</td>
                      <td>{{recommendation.link}}</td>
                      <td> <button ng-click="deleteRecommendation(recommendation._id)">Delete</button><span style="color: red;"></span></td>
                  </tr>
              </tbody>
            </div>
          </table>
      </div>
    <!--End of recommendations table-->

	  <!--Footer-->
	  <footer class="footer">
        <p>&copy; Bochitto Travel</p>
      </footer>
    <!--End Footer-->

    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
