<!DOCTYPE html>
<html>
  <head>
   <!-- 
 
    <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
  <link rel="stylesheet" href="styles/style.css"> -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/listingFactory.js"></script>
  <script src="js/controllers/listingController.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Clicker Script' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Covered By Your Grace' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Overpass' rel='stylesheet'>
  <link rel="stylesheet" href="styles/main.css">

  <style>
     .jumbotron{
       font-family: 'Overpass';
      }
  </style>
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <!--Nav Bar-->
      <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills float-right">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>
            </ul>
          </nav>
          <img id="logo" src="C:\Ado\UF\Semester 6\SWEng\CEN3031-Project-TravelSite\MyWork"/>
        </div><!--End Nav Bar-->
        
      <div class="row">
        <h1 class="text-center">Contact</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <form novalidate class="simple-form">
            <h2>Add New Contact</h2>   
            First Name: <input type="text" ng-model="newListing.firstname" /><br />
            Last Name: <input type="text" ng-model="newListing.lastname" /><br />
            Email: <input type="text" ng-model="newListing.email" /><br />
            Phone: <input type="text" ng-model="newListing.phone" /><br />
            Travel Dates: <input type="text" ng-model="newListing.travelDates" /><br />
            Budget: <input type="text" ng-model="newListing.budget" /><br />
            <button class="btn btn-primary btn-lg btn-block" ng-click="addListing()">Add Listing</button>
          </form>
        </div>
        
      </div>
    </div>
    
  </body>
</html>